pdfstamper.iml
.idea/workspace.xml
.idea/vcs.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/.name
.idea/compiler.xml
build
*.xccheckout
staging
.gradle
target
.idea
dist
out
PDFStamper.mdzip.bak
Iconr
